<! ELEMENT SELECTOR >
<html>
<head>
<style>

p{
  text-align: center;
  color: red;
}

</style>
</head>
<body>

<p> Every paragraph will be affected by the style. </p>
<p id = "para1"> Me too! </p>
<p> And me! </p>

</body>
</html>


<! ID SELECTOR >
<html>
<head>
<style>

#para1 {
  text-align: center;
  color: red;
}

</style>
</head>
<body>

<p id = "para1"> Hello World! </p>
<p> This paragraph is not affected by the style. </p>

</body>
</html>


<! CLASS SELECTOR >
<html>
<head>
<style>

.center {
  text-align: center;
  color: red;
}

</style>
</head>
<body>

<h1 class = "center"> Red and center-aligned heading </h1>
<p class = "center"> Red and center-aligned paragraph. </p>

</body>
</html>


<! CLASS SELECTOR >
<! SPECIFIC ELEMENTS AFFECTED BY A CLASS >
<html>
<head>
<style>

p.center {
  text-align: center;
  color: red;
}

</style>
</head>
<body>

<h1
